

// Colors

$colors: (
    white: #F2F2FC,
    greyBright: lightslategrey,
    greyMedium: #5F6774,
    greyDark: #363636,
    darkGreen: darkslategrey,
);


.wide_background {

  display: flex;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(73,88,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(73,88,191,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(73,88,191,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(73,88,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(73,88,191,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(73,88,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4958bf', GradientType=1 );

}


.userStatsBox {
  background: map-get($colors, white);
}

.header_top {
  background: map-get($colors, greyDark);
  color: map-get($colors, white);
}


button , button.timer {
  background: #5F6774;
}


.userTimerError {
  background: darkslategrey;
}

.finished {
  background: map-get($colors, greyMedium);
}



footer {
  background: map-get($colors, greyDark);
  color: map-get($colors, white);
}
