

// Colors




.wide_background {
  background-image: url('/app/images/wide_timers_bg.jpeg');
}


.userStatsBox {
  background:whitesmoke;
}

.header_top {
  background: #363636;
}

.header_top {
  color: whitesmoke;
}

button , button.timer {
  background: #5F6774;
}


.userTimerError {
  background: darkslategrey;
}

.finished {
  background: #F2F2FC;
}



footer {
  background: #363636;
  color: whitesmoke;
}
