
// NAVBAR


//  SignUp box




.SignUp {
  background: map-get($colors, darkGreen);
  border: 2px solid grey;
  border-radius: 10px;
  width: 800px;
  display: flex;
  position: absolute;
  top: 50px;
  left: 150px;
  text-align: center;
  padding: 20px;
  height: 400px;
  align-items: center;
  h2 {
    margin-bottom: 10px;
  }
  span {
    font-size: 16px;
  }

}



.SignUp input {
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 30px;
  margin-top: 10px;
}

.SignUp button {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  font-size: 20px;
  border-radius: 5px;
}




// LogIn box

.LogIn {
  background: map-get($colors, darkGreen);
  border: 2px solid grey;
  border-radius: 10px;
  width: 800px;
  display: flex;
  position: absolute;
  top: 50px;
  left: 150px;
  text-align: center;
  padding: 20px;
  height: 300px;
  align-items: center;
  h2 {
    margin-bottom: 10px;
  }
  span {
    font-size: 16px;
  }

}

.LogIn input {
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 30px;
}

.LogIn button {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  font-size: 20px;
  border-radius: 5px;
}


// My Account

.myAccount {
  background: map-get($colors, darkGreen);
  border: 4px solid whitesmoke;
  border-radius: 10px;
  width: 355px;
  display: flex;
  position: absolute;
  top: 50px;
  right: 135px;
  text-align: center;
  padding: 20px;
  height: 270px;
}

 //.myAccount:before {
 //  content: '';
 //  display: block;
 //  width: 30px;
 //  height: 30px;
 //  position: relative;
 //  background: red;
 //  top: -30px;
 //  right: -40px;
 //  transform: rotate(45deg);
 //  margin-top: 5px;
 //}

.myAccount button {
  width: 300px;
  margin: 5px;
  font-size: 16px;
  height: 30px;
  background: map-get($colors, white);
  color: map-get($colors, darkGreen);
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid whitesmoke;
  cursor: pointer;
  padding: 5px;
}

.myAccount button:hover {
  background: map-get($colors, greyBright);
}

.myAccount h1 {
  color: map-get($colors, white);
  margin: 0 0 30px 0;
}

.myAccount h2 {
  color: black;
  font-size: 36px;
  padding: 0 0 5px 0;

}



// userStatsBox

.userStatsBox {
  color: black;
  position: absolute;
  margin: 0 auto;
  top: -14px;
  width: 1000px;
  height: 449px;
  right: -44px;
  overflow-y: scroll;}
p {
  margin: 10px;

}



.stats_table {
  border-top: 3px solid grey;
  font-size: 20px;
  color: map-get($colors, white);
  padding: 10px;
  margin: 0 auto;
  line-height: 30px;
  width: 80%;
  background: map-get($colors, white);;
  overflow-y: scroll;
}


.stats_table tr {
  color: black;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.stats_table {
  color: black;
  padding: 20px;

}

.stats_table tbody {
  overflow-y: scroll
}


#scrollbarStyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  background-color: #CCCCCC;
}

#scrollbarStyle::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#scrollbarStyle::-webkit-scrollbar-thumb
{
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 25%,
          transparent 100%,
          rgba(0, 0, 0, 1) 75%,
          transparent)
}


.closeSummary {
  position: relative
}

.closeSummary img {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 35px;
  height: 35px;
}

// MOBILE

@media (max-width:768px) {


  .LogIn {
    background: map-get($colors, darkGreen);
    border: 2px solid grey;
    border-radius: 10px;
    width: 350px;
    font-size: 12px;
    display: flex;
    position: absolute;
    top: 100px;
    left: calc( 50% - 175px);
    text-align: center;
    padding: 0 10px;
    height: 250px;
    align-items: center;
    z-index: 5;



  }

  .LogIn input {

      width: 100%;
      height: 10px;
      padding: 20px;
      font-size: 18px;


  }

  .LogIn h2 {
    margin-bottom: 10px;
    margin-top: 20px;
  }





  .LogIn button {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    border-radius: 5px;
  }

  .LogIn span {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    border-radius: 5px;
  }



  .SignUp {
    background: map-get($colors, darkGreen);
    border: 2px solid grey;
    border-radius: 10px;
    width: 350px;
    font-size: 12px;
    display: flex;
    position: absolute;
    top: 100px;
    left: calc( 50% - 175px);
    text-align: center;
    padding: 20px;
    height: 370px;
    align-items: center;

  }

  .SignUp  input {
    width: 100%;
    height: 10px;
    padding: 20px;
    font-size: 20px;
  }

  .SignUp h2 {
    font-size: 20px;
  }



  .SignUp button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    border-radius: 5px;
  }

  .SignUp span {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
  }


  .myAccount {
    background: map-get($colors, darkGreen);
    border: 4px solid whitesmoke;
    border-radius: 10px;
    width: 205px;
    right: 0;
    display: flex;
    position: absolute;
    top: -10px;
    text-align: center;
    padding: 20px;
    height: 290px;
  }


  .myAccount button {
    width: 170px;
  }

  .myAccountButtons {
    display: grid;
    justify-content: center;
  }

  .userStatsBox {
    color: black;
    position: absolute;
    margin: 0;
    top: -8px;
    width: 450px;
    height: 454px;
    right: -3px;
    overflow-y: scroll;
  }

  .closeSummary {
    position: relative
  }

  .closeSummary img {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 35px;
    height: 35px;
  }


}
